button{
    background-color: burlywood;
    font-size: 30px;
    color: white;
    padding: 20px;
    border: none;
}
button:hover{
    background-color: rgb(223, 137, 25);
    font-size: 35px;
    color: white;
    padding: 30px;
    border: none;
    border-radius: 30px;
}
h1:hover{
    background-color: aquamarine;
}
a:hover{
    text-decoration:  none;
    color: blue;
    background-color: cadetblue;
    padding: 30px;
}
a:link{
    color: blue;
}
a:visited{
    color: red;
}

a:active{
    color: chocolate;
}